@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* O VS Code vai sublinhar isto de amarelo, mas está 100% correto no Tailwind v4 */
@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
}

body {
  -webkit-font-smoothing: antialiased;
}